<!DOCTYPE html>
<html>
  <head>
    <title ">Products</title>
  </head>
  <style>
    h1 {padding-left: 70px;color :palevioletred;}
   body li {color:darkgreen;}
   body input {color:rgb(25, 124, 185);}
  </style>
  <body>
    <h1>Products</h1>
    <ul>
      <% for(let i of products){ %>
        <ol>
        <li>Id:<%=i.getId()%></li>
      <li>Name:<%=i.getName()%></li>
        <li>Price:<%=i.getPrice()%></li>
        <li>Description:<%=i.getDescription()%></li>
             </ol>
          <form action="/addToCart" method="POST">
            <input type = "number" name ="id" value="<%=i.getId()%>">
            <input type="submit" value="Add to cart" />
          </form>
        </li>
     
      <%} %>
    </ul>
  </body>
</html>
