<%- include('fragments/header.ejs')%>
    <link href="/css/product.css" rel="stylesheet" />
    <title>Product List</title>
    </head>

    <body>

        <form method="POST" action="/addToCart">
            <input type="hidden" name="id" value=<%=product.id%> />
            <div id="container">
                <label>Name:</label>
                <span>
                <%=product.name%>
            </span>
                <label>Description:</label>
                <span>
                <%=product.description%>
            </span>

                <label>Price:</label>
                <span>
                <%=product.price%>
            </span>

                <label>Id:</label>
                <span>
                <%=product.id%>
            </span>
                <input type="hidden" name="name" value=<%=product.name %> />
                <input type="hidden" name="price" value=<%=product.price%> />

                <input type="submit" value="Add to cart " />
            </div>
        </form>
        <%- include('fragments/footer.ejs')%>